In [1]:
import pandas as pd

In [2]:
df_mine = pd.read_csv("../bad/my_best.csv")

In [3]:
df_pub = pd.read_csv("../bad/public.csv")

In [4]:
sub = pd.read_csv("../input/sample_submission.csv")

In [13]:
sub['target'] = 0.7*df_mine.target.values + 0.3*df_pub.target.values

In [14]:
sub[[
    'id', 'target'
]].to_csv("../bad/pub_blend.csv", index=False)

In [10]:
sub

,id,target,_mean,_std,_min,_max
0,00005bced6,1.001297,2.445248e-24,6.168206e-21,-1.607834e-20,1.682928e-20
1,0000806717,0.928587,-2.224912e-23,5.830568e-21,-1.822000e-20,1.777055e-20
2,0000ef4fe1,0.327367,8.358306e-24,6.155331e-21,-1.977580e-20,2.172763e-20
3,00020de251,0.873198,1.924916e-23,5.245306e-21,-1.664904e-20,1.594509e-20
4,00024887b5,0.155820,-6.580902e-23,6.664351e-21,-2.872250e-20,2.895841e-20
...,...,...,...,...,...,...
225995,ffff4125f1,0.305799,-2.147269e-23,4.949581e-21,-1.541576e-20,1.606353e-20
225996,ffff9d32a6,0.308090,2.831834e-23,7.559979e-21,-2.674572e-20,2.838456e-20
225997,ffff9f4c1f,0.230157,-2.630348e-23,7.154737e-21,-2.673809e-20,2.573732e-20
225998,ffffa19693,1.001078,-1.249149e-23,6.140199e-21,-2.323890e-20,2.252685e-20
225999,ffffebbfe2,0.088489,-2.014202e-23,5.883935e-21,-2.297909e-20,2.371529e-20