In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('../models/oof_df.csv')

In [6]:
df.head()

,Unnamed: 0,id,target,file_path,fold,preds
0,9,00010beb4a,1,input/train/0/0/0/00010beb4a.npy,0,0.295423
1,12,00014b7a9d,1,input/train/0/0/0/00014b7a9d.npy,0,0.231609
2,17,0001c76f56,1,input/train/0/0/0/0001c76f56.npy,0,0.557857
3,31,0002b883f5,0,input/train/0/0/0/0002b883f5.npy,0,0.264860
4,37,00034d8429,0,input/train/0/0/0/00034d8429.npy,0,0.272133

In [7]:
df.sort_values('preds')

,Unnamed: 0,id,target,file_path,fold,preds
256398,162497,4a1fe94ef7,0,input/train/4/a/1/4a1fe94ef7.npy,2,0.039671
547463,497142,e36a589327,0,input/train/e/3/6/e36a589327.npy,4,0.040498
456633,42394,1341ea82c0,0,input/train/1/3/4/1341ea82c0.npy,4,0.043029
263145,196147,59aca41cff,0,input/train/5/9/a/59aca41cff.npy,2,0.043840
499350,255753,752335b907,0,input/train/7/5/2/752335b907.npy,4,0.043920
...,...,...,...,...,...,...
145769,169934,4d90c10577,1,input/train/4/d/9/4d90c10577.npy,1,1.000000
531617,417231,befecf7215,1,input/train/b/e/f/befecf7215.npy,4,1.000000
51760,259737,7704303b85,1,input/train/7/7/0/7704303b85.npy,0,1.000000
479158,154813,46a0da93bb,1,input/train/4/6/a/46a0da93bb.npy,4,1.000000
495177,234522,6b60d1da19,1,input/train/6/b/6/6b60d1da19.npy,4,1.000000