In [4]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../input/train_folds.csv")
df.head(3)

           id  target                         file_path  fold
0  00000e74ad       1  input/train/0/0/0/00000e74ad.npy     2
1  00001f4945       0  input/train/0/0/0/00001f4945.npy     1
2  0000661522       0  input/train/0/0/0/0000661522.npy     3

In [3]:
df_test = pd.read_csv("../input/sample_submission.csv")
df_test.head(3)

           id  target
0  00005bced6     0.5
1  0000806717     0.5
2  0000ef4fe1     0.5

In [5]:
def calc_mean(x):
    d = f'../input/train/{x[0]}/{x[1]}/{x[2]}/{x}.npy'
    a = np.load(d)
    return a.mean()

def calc_std(x):
    d = f'../input/train/{x[0]}/{x[1]}/{x[2]}/{x}.npy'
    a = np.load(d)
    return a.std()

def calc_min(x):
    d = f'../input/train/{x[0]}/{x[1]}/{x[2]}/{x}.npy'
    a = np.load(d)
    return a.min()

def calc_max(x):
    d = f'../input/train/{x[0]}/{x[1]}/{x[2]}/{x}.npy'
    a = np.load(d)
    return a.max()

In [6]:
df['_mean'] = df['id'].apply(calc_mean)

In [7]:
df['_std'] = df['id'].apply(calc_std)

In [8]:
df['_min'] = df['id'].apply(calc_min)

In [9]:
df['_max'] = df['id'].apply(calc_max)

In [10]:
df.head(3)

,id,target,file_path,fold,_mean,_std,_min,_max
0,00000e74ad,1,input/train/0/0/0/00000e74ad.npy,2,-1.581508e-23,4.937811e-21,-1.672408e-20,1.705371e-20
1,00001f4945,0,input/train/0/0/0/00001f4945.npy,1,-2.436180e-23,5.543152e-21,-1.807209e-20,1.779126e-20
2,0000661522,0,input/train/0/0/0/0000661522.npy,3,6.314444e-23,5.158403e-21,-1.938187e-20,1.946032e-20

In [12]:
# df.to_csv("../input/train_folds.csv", index=False)

In [13]:
def calc_mean(x):
    d = f'../input/test/{x[0]}/{x[1]}/{x[2]}/{x}.npy'
    a = np.load(d)
    return a.mean()

def calc_std(x):
    d = f'../input/test/{x[0]}/{x[1]}/{x[2]}/{x}.npy'
    a = np.load(d)
    return a.std()

def calc_min(x):
    d = f'../input/test/{x[0]}/{x[1]}/{x[2]}/{x}.npy'
    a = np.load(d)
    return a.min()

def calc_max(x):
    d = f'../input/test/{x[0]}/{x[1]}/{x[2]}/{x}.npy'
    a = np.load(d)
    return a.max()

In [14]:
df_test['_mean'] = df_test['id'].apply(calc_mean)

In [15]:
df_test['_std'] = df_test['id'].apply(calc_std)

In [16]:
df_test['_min'] = df_test['id'].apply(calc_min)

In [17]:
df_test['_max'] = df_test['id'].apply(calc_max)

In [18]:
df_test.head(3)

           id  target         _mean          _std          _min          _max
0  00005bced6     0.5  2.445248e-24  6.168206e-21 -1.607834e-20  1.682928e-20
1  0000806717     0.5 -2.224912e-23  5.830568e-21 -1.822000e-20  1.777055e-20
2  0000ef4fe1     0.5  8.358306e-24  6.155331e-21 -1.977580e-20  2.172763e-20

In [19]:
df_test.to_csv("../input/sample_submission.csv", index=False)